---
import { churchConfig } from '../config/church';

const address = encodeURIComponent(churchConfig.address.full);
// Updated embed code with proper center coordinates and zoom level for Christ Lutheran Church
const mapSrc = `https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3088.867589064138!2d-96.55178128459375!3d39.21257887952037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87bdcd67c1fc3e43%3A0x1d9398e0c5333afe!2sChrist%20Lutheran%20Church!5e0!3m2!1sen!2sus!4v1710441361649!5m2!1sen!2sus`;
const directionsUrl = `https://www.google.com/maps/dir/?api=1&destination=${address}`;
---

<div class="space-y-4">
  <div class="relative w-full rounded-lg overflow-hidden shadow-md bg-white">
    <div class="relative pb-[75%] h-0">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3501.811684810945!2d-96.51420568806749!3d39.21438637153992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87bdd3e6fdfe3659%3A0x2b10b792a26e11f5!2sChrist%20Lutheran%20Church!5e1!3m2!1sen!2sus!4v1736806795077!5m2!1sen!2sus" 
        class="absolute inset-0 w-full h-full"
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </div>
  <div class="text-center">
    <a 
      href={directionsUrl}
      target="_blank"
      rel="noopener noreferrer"
      class="inline-block bg-liturgical-red text-white px-6 py-2 rounded hover:bg-liturgical-burgundy transition-colors font-cinzel text-base sm:text-lg"
    >
      Get Directions
    </a>
  </div>
</div>